<!-- Basic Form -->

<div class="text-center" id="banner">
  <div class="typeform-widget" data-url="https://brucewayne465.typeform.com/to/ctF3YE" data-transparency="100" data-hide-headers=true data-hide-footer=true style="width: 100%; height: 500px;" > </div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>

  <button class="primary-button confirm-button">
    <%= link_to 'Confirm your plan', getstarted_basic_confirm_path %>
  </button>
</div>
