<!-- Navbar -->
<%= render 'shared/navbar_pages' %>

<div id="blog">
  <div class="banner-pages">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1>Instagram Marketing Stratedy, Tips, Tools and Guides</h1>
        </div>
      </div>
    </div>
  </div> <!-- End .banner-pages -->

  <div class="pages-content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h2>Under Construction</h2>
        </div>
      </div>
    </div>
  </div>


</div>

<!-- Footer -->
<%= render 'shared/footer_pages' %>
