<%= render 'shared/navbar_pages' %>

<div class="banner-pages">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1>Frequently asked questions</h1>
      </div>
    </div>
  </div>
</div>

<div id="faq">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="faq-card">
          <h2 class="question">How many followers should i expect to gain everyday?</h2>
          <div class="answer">There are many factors to this. From size and age of account to content and engagement. However, an average would be from 20-100 followers a day.</div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="faq-card">
          <h2 class="question">What type of activity will IGGROW generate for me?</h2>
          <div class="answer">Likes, Following, and Unfollowing. However, if you wish to remove one of these you can do so by emailing us.</div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="faq-card">
          <h2 class="question">How is the activity targeted?</h2>
          <div class="answer">IGGROW encourages you to research the hashtags you wish to target and usernames of accounts you want to target. Your quality of followers will highly rely on the types of hashtags and usernames you provide us with.</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <h2 class="question">Will IGGROW unfollow people i am currently following?</h2>
        <div class="answer">No, we create what we call The Safelist. The Safelist is a list of the people you were following at the moment of signing up. That way we make sure to never unfollow those people.</div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <h2 class="question">What if i follow someone while the service is running? Will you unfollow them?</h2>
        <div class="answer">In that case can email us mentionning the username and we will automatically add that username to The Safelist.</div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <h2 class="question">How much will i pay for IGGROW?</h2>
        <div class="answer">Our service starts at $59 a month. However, you can cancel at any time by emailing us.</div>
      </div>
    </div>

    <!-- Row -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <h2 class="question">Do I have dashboard to interact with?</h2>
        <div class="answer">No, that’s what makes us that much better than our competitors! Instead of having to constantly update your account, you just provide us with the hashtags and usernames and we take care of the rest.
        Making sure your account runs flawlessly.</div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <h2 class="question">How many hashtags and usernames do I need to provide to IGGROW?</h2>
        <div class="answer">About up to 15 hashtags and 15 usernames should be enough for the month.</div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <h2 class="question">Are these real followers?</h2>
        <div class="answer">Yes all new followers are 100% real and targeted. You may find some places online that sell followers, these are mostly farmed networks or fake accounts. That is not what we offer.</div>
      </div>
    </div>

    <!-- Row -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <h2 class="question">How do you do it?</h2>
        <div class="answer">I'm glad you asked, it's magic. Actually it's pretty simple. Each day we'll perform many tasks in order to grow your account, following, unfollowing, liking, etc to organically grow your audience.</div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <h2 class="question">Do you post content to my account?</h2>
        <div class="answer">You remain in control of all the content you post. We do not post any content for you. This allows you to solely focus on posting the best material possible, while we focus on bringing you the right audience to view your posts. It is important that you continue posting content regularly to your account, as potential new followers only tend to follow active accounts.</div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <h2 class="question">Why does the number of new followers each month vary?</h2>
        <div class="answer">There are several factors. In general, it is related to the size of the account from the start and target niche. Once we get good momentum with growing your followers, the faster we can run with results every month.</div>
      </div>
    </div>

    <!-- Row -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <h2 class="question">Why should I post content to my account regularly?</h2>
        <div class="answer">It is important to continue posting content to your account on a regular basis. Since these are real people, they're much more likely to follow and remain following an active account.</div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <h2 class="question">Can I keep posting? Can I still follow and unfollow accounts?</h2>
        <div class="answer">Yes! You can resume doing your normal activity. We will be working in the background, but your account will still be 100% in your possession.</div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <h2 class="question">How quickly will my Growth Engine be underway?</h2>
        <div class="answer">New campaigns are generally underway within 48 hours, and a marketing expert at Iggrow will be in touch as soon as it kicks off to let you know.</div>
      </div>
    </div>

    <!-- Row -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <h2 class="question">Do I have to verify my account?</h2>
        <div class="answer">You will likely need to verify your account. This happens from multiple computer logins. Your social media platform is just confirming with you to secure your account. Don’t worry, your account is 100% safe.</div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <h2 class="question">How do I get started?</h2>
        <div class="answer">It’s pretty simple, after you purchase you will receive a brief questionnaire. Here you will provide all the info your geek will need and they'll be in touch to let you know they're getting started. Done and done.</div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer_pages' %>





















