#footer {
  min-height: 50vh;
  background-color: $brand-blue;
}

.footer-top {
  display: flex;
  background-color: $brand-blue-light;
  height: 30%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-top-button {
  margin: auto;
}


.vcenter {
}

.made-with-love {
  font-weight: 400;
  font-size: 12px;
  color: white;
  margin: auto;
  position: relative;
  margin-top: 50px;
  margin-bottom: 20px;
}

.emoji {
  width: 15px;
}

.footer-bottom {
  position: relative;
  min-height: 70%;
  padding-top: 30px;

  ul {
    list-style-type: none;
    padding-left: 0;
    padding-top: 10px;

    li {
      font-size: 16px;
      padding-bottom: 10px;
      color: white;

      .fa {
        padding-right: 10px;
      }
    }
  }

  a {
    color: white;

    &:focus,
    &:hover {
      color: white;
      font-weight: 500;
      text-decoration: none;
    }
  }
}
