<div id="banner">
  <h1 class="banner-title">
    BUILD A <strong>STRONG</strong>, <strong>ACTIVE</strong> AND
    <strong>RELIABLE</strong> COMMUNITY
    <br>
    AROUND YOUR BUSINESS ON <span class="insta-word">INSTAGRAM</span>
  </h1> <!-- End .banner-title -->

  <p class="banner-desc">
    Grow your instagram community with real and organic followers.
    <br>
    <span class="hidden-xs">
       Get up to +1.500 targeted followers per month with minimal effort on your part.
    <br>
    Turn followers into loyal customers.
    <br>
    <br>
    </span>
    Exactly like <strong>A HUMAN</strong> with <span class="super-social-word">SUPER SOCIAL MEDIA POWER</span> would do.
  </p> <!-- End .banner-desc -->

  <button class="primary-button">
    <a href="#pricing"><%= t('landing.buttons.primary_button') %></a>
  </button>
</div>
