<div id="why">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2 class="section-title">Why choose iggrow?</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="tututu text-center">
          <strong>iggrow</strong> provides one-of-a-kind service for organically growing your Instagram following. We combine the power of automation with human-moderated targeting so that brands and consumers connect. We know just how to strategize for top performance to see return of investment with your Instagram account(s). iggrow is like having your own social media manager, and costs less than half the price!
          <br><br>
          <br> Likes and Follows are digital currency. It builds trust and trust leads to corporate credibility and reputation.<br>
          Get started Today and reach your audience with us!
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="card-type content-right">
          <%= image_tag("002-group.svg", class: "icon-card-type mlrauto-mobile") %>
          <h3>Influencer</h3>
          <div class="card-type-desc">
            Are you an Instagram’s rising star or already an established
            <br>
            Influencer? We will help you build an engaged online
            <br>
            community around your profile!
          </div>
          <ul>
            <li>
              <span class="right hidden-sm hidden-md hidden-lg">•</span>
              Reach more followers in your niche
              <span class="left hidden-xs">•</span>
            </li>
            <li>
              <span class="right hidden-sm hidden-md hidden-lg">•</span>
              Improve engagement on you content
              <span class="left hidden-xs">•</span>
            </li>
            <li>
              <span class="right hidden-sm hidden-md hidden-lg">•</span>
              Get recognized in your industry
              <span class="left hidden-xs">•</span>
            </li>
            <li>
              <span class="right hidden-sm hidden-md hidden-lg">•</span>
              Build a strong personal brand
              <span class="left hidden-xs">•</span>
            </li>
            <li>
              <span class="right hidden-sm hidden-md hidden-lg">•</span>
              Monetize your popularity
              <span class="left hidden-xs">•</span>
            </li>
          </ul>
          <button class="secondary-button"> <a href="#pricing">Get Started with <strong>influencer</strong></a></button>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="card-type content-left">
          <%= image_tag("001-employee.svg", class: "icon-card-type mlrauto-mobile") %>
          <h3>Business</h3>
          <div class="card-type-desc">
            Is Instagram presence just a part of your online business strategy?
            <br>
            We will help you reach your target audience and drive more sales to your business!
          </div>
          <ul >
            <li><span class="right">•</span>Grow your brand’s awareness</li>
            <li><span class="right">•</span>Drive more sales to your business</li>
            <li><span class="right">•</span>Connect with Top Influencers from your industry</li>
            <li><span class="right">•</span>Improve customer engagement</li>
            <li><span class="right">•</span>Expand to new markets easily</li>
          </ul>
          <button class="secondary-button"> <a href="#pricing">Get Started with <strong>business</strong></a></button>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>
